<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 以annotation的方式，装配controller -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 扫描org.slsale包，让spring 注解生效 -->
	<context:component-scan base-package="org.slsale"></context:component-scan>
	<!-- 配置视图 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 配置访问静态资源文件 -->
	<mvc:resources location="/statics/" mapping="/statics/**"></mvc:resources>
	<!-- 配置文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="5000000" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	<!-- 配置拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/backend/**" />
			<mvc:mapping path="/informanage/**" />
			<mvc:mapping path="/member/**" />
			<mvc:mapping path="/message/**" />
			<bean class="org.slsale.interceptor.SysInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>




</beans>