<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.slsale.dao.authority.AuthorityMapper">
	<!-- getAuthorityByFunctionIdAndRoleId -->
	<select id="getAuthorityByFunctionIdAndRoleId" resultType="authority"
		parameterType="authority">
		select * from au_authority where
		functionId=#{functionId} and
		roleId=#{roleId}
	</select>

	<!-- delAuthorityByRoleId -->
	<delete id="delAuthorityByRoleId" parameterType="Integer">
		delete from
		au_authority where roleId=#{roleId}
	</delete>
	<!-- addAuthority -->
	<insert id="addAuthority" parameterType="authority">
		insert into
		au_authority(roleId,functionId,userTypeId,creationTime,createdBy)values(#{roleId},#{functionId},#{userTypeId},#{creationTime},#{createdBy})
	</insert>

</mapper>